
.listButton {
    border: 1px solid #d9d9d9;
    background-color: white;
    height: 28px;
    margin-left: 20px;
    margin-top: 15px;
    color: #333333;
    padding-left: 25px;
    padding-right: 25px;
}

.song .el-button:focus,
.song .el-button:active,
.song .el-button:hover {
    color: black;
    background-color: white;
    border-color: #d9d9d9;
}

.popoverView {
    width: 649px;
    height: 488px;
}
.popoverView>.popoverTop {
    width: 647px;
    height: 58px;
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.popoverView>.popoverLeft {
    width: 99px;
    height: 429px;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.popoverView>.popoverRight {
    width: 547px;
    height: 429px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

/* popoverLeft布局 */
.popoverLeft > .itemView {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.popoverLeft>.itemView>.item {
    height: 50px;
    font-family: 'HYWenHei-BLOD';
}
/* popoverRight布局 */
.popoverRight>.tpyeView {
    width: 100%;
    margin-top: 30px;
}

.tpyeView > .typeButton {
    border: 0px;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
}
.tagActived {
    background-color: #afafaf;
    color: white;
}

.tpyeView>.typeButton:hover,
.tpyeView>.typeButton:active,
.tpyeView>.typeButton:focus {
    background-color: #afafaf;
    color: white;
}


.hotTagView {
    margin-top: 10px;
    padding-left: 30px;
}
.hotTagView > span {
    color: #555555;
    font-size: 14px;
    font-family: 'HYWenHei-BLOD';
}
.hotTagView >.hotButton {
    border: 0px;
    border-right: 1px solid #e1e1e1;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    background-color: #fafafa;
    font-size: 13px;
}

/* 表格布局 */
.songListView {
    width: 100%;
    background-color: #fafafa;
    float: left;
    padding-bottom: 20px;
}

.songListView>.personalItems {
    margin-top: 20px;
    margin-left: 5%;
}

